@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Condensed:wght@300&display=swap%27');

h1{
    color: #6ec89e; 
    font-family: 'Lobster', cursive;
    margin-bottom: 25px;
    font-size: 50px;
}
.navbar-inverse .navbar-nav>li>a {
    color: #000000;
}

.link-red{
    color:#ee6775;
    
}
.link-red:hover{
    color:#f44052;
    
}
.navbar-inverse .navbar-brand {
    color: #000000;
}
.navbar{
    background-color: #52c591;
    border:none ;

}
body{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
}
p
{
    padding-bottom:10px ;
}

.bi {
    padding-right: 10%;
}
.btn-outline-success {
    --bs-btn-color: #6ec89e;
    --bs-btn-border-color: #6ec89e;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #6ec89e;
    --bs-btn-hover-border-color: #6ec89e;
    --bs-btn-focus-shadow-rgb: 25,135,84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #6ec89e;
    --bs-btn-active-border-color: #6ec89e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #6ec89e;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #6ec89e;
    --bs-gradient: none;
}


.btn-default {
    display: flex;
    justify-content: center;
    width: 200px;
margin-left: auto;
margin-right: auto;
    color: rgb(255, 255, 255);
    background-color: #6ec89e;
    border-color: #42a275;
    

}
.btn-default:hover {
    color: #ffffff;
    background-color: #86ddb4;
    border-color: #6cf5b5;
}
.btn-outline-remove {
    --bs-btn-color: #ee6775;
    --bs-btn-border-color: #ee6775;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #ee6775;
    --bs-btn-hover-border-color: #ee6775;
    --bs-btn-focus-shadow-rgb: 220,53,69;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #ee6775;
    --bs-btn-active-border-color: #ee6775;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #ee6775;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #ee6775;
    --bs-gradient: none;
}
.btn-edit{

    color: rgb(255, 255, 255);
    background-color: #6ec89e;
    border-color: #42a275;
}
.btn-edit:hover{

    color: #ffffff;
    background-color: #86ddb4;
    border-color: #6cf5b5;
}

