{% extends "base.html" %}
{% block content %}

<div class="container">
  {% for message in get_flashed_messages() %}
  <div class="alert alert-warning">

      <button type="button" class="close" data-
      dismiss="alert">&times;</button>
      
      {{ message }}
      </div>
  {% endfor %}
    <a href="{{url_for('create')}}"><button class="btn btn-edit btn-lg">Dodaj pieska</button></a>
    <table class="table table-striped">
        <thead>
          <tr>
            <th>Imie</th>
            <th>Rasa</th>
            <th>Wiek</th>
            <th>Zdjęcie</th>
            <th>Opcje</th>
          </tr>
        </thead>
        <tbody>
          {% for dog in dogs %}
          <tr>
            <td>{{ dog.name }}</td>
            <td>{{ dog.breed }}</td>
            <td>{{ dog.age }}</td>
            <td><img src="static/{{ dog.photo }}" alt="{{ dog.name }}" class="img-fluid" width="150" height="150"></td>
            <td><a  href="{{url_for('edit', id=dog.id)}}"> <button type="button" class="btn btn-edit"><i class="bi bi-pen"></i> Edytuj  </button></a>
              <a class="link-red" href="dog/{{ dog.id }}"><button type="button" class="btn btn-danger"><i class="bi bi-trash"></i> Usuń </button></a></td>
          </tr>
          {% else %} 
          <td>Brak piesków</td>
          {% endfor %}
        </tbody>
      </table>
     
      
</div>


{% endblock %}
